faster_whisper==1.0.1
ffmpeg-python==0.2.0
moviepy==1.0.3
numpy==1.26.0
opencv-python==4.7.0.72
opencv-python-headless==4.9.0.80
python-dotenv==1.0.1
pytubefix
webrtcvad-wheels
pydub
openai==1.44.1
--find-links https://download.pytorch.org/whl/rocm5.6
torch==2.1.0+rocm5.6